env_ml_zoomcamp_solution/

01-Intro/data
02-regression/practice_course/data
02-regression/practice_project_1/data
02-regression/practice_project_2/data
02-regression/homework/data

03-classification/practice_course_material/data 
03-classification/homework/data
